

/* review page  */
.feedback{
  width: 100%;
  max-width: 780px;
  background: #fff;
  margin: 0 auto;
  padding: 15px;
  box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.3);
}
.survey-hr{
margin:10px 0;
border: .5px solid #ddd;
}
.star-rating {
 margin: 25px 0 0px;
font-size: 0;
white-space: nowrap;
display: inline-block;
width: 175px;
height: 35px;
overflow: hidden;
position: relative;
background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
background-size: contain;
}
.star-rating i {
opacity: 0;
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 20%;
z-index: 1;
background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
background-size: contain;
}
.star-rating input {

opacity: 0;
display: inline-block;
width: 20%;
height: 100%;
margin: 0;
padding: 0;
z-index: 2;
position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
opacity: 1;
}
.star-rating i ~ i {
width: 40%;
}
.star-rating i ~ i ~ i {
width: 60%;
}
.star-rating i ~ i ~ i ~ i {
width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
width: 100%;
}
.choice {
position: fixed;
top: 0;
left: 0;
right: 0;
text-align: center;
padding: 20px;
display: block;
}
span.scale-rating{
margin: 5px 0 15px;
  display: inline-block;
 
  width: 100%;
 
}
span.scale-rating>label {
position:relative;

outline:0 !important;
  border: 1px solid grey;
  height:33px;
  margin: 0 5px 0 0;
width: calc(10% - 7px);
  float: left;
cursor:pointer;
}
span.scale-rating label {
position:relative;

outline:0 !important;
  height:33px;
    
  margin: 0 5px 0 0;
width: calc(10% - 7px);
  float: left;
cursor:pointer;
}
span.scale-rating input[type=radio] {
position:absolute;

opacity:0;
outline:0 !important;
  /*border-right: 1px solid grey;*/
  height:33px;

  margin: 0 5px 0 0;

width: 100%;
  float: left;
cursor:pointer;
z-index:3;
}
span.scale-rating label:hover{
background:#fddf8d;
}
span.scale-rating input[type=radio]:last-child{
border-right:0;
}
span.scale-rating label input[type=radio]:checked ~ label{


  margin: 0;
background:#fddf8d;
}
span.scale-rating label:before
{
content:attr(value);
  top: 7px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  vertical-align: middle;
z-index:2;
}
/* review section in detail */
#reviewpart{
  margin: 0px;
  padding: 0px;
  font-family: poppins;
  box-sizing: border-box;
}

button{

  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 5px;
}
#testimonials{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;
}
.testimonial-heading{
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonial-heading h1{
  font-size: 2.7rem;
  font-weight: 500;
  color: #111010;
  padding: 10px 20px;
}
.testimonial-heading span{
  font-size: 1.3rem;
  color: #252525;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.testimonial-box-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width:100%;
}
.testimonial-box{
  width:500px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}

.img-responsive{
  border-radius: 5%;
  margin-top:30px;
  
}
.profile-img{
  width:50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.profile-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.profile{
  display: flex;
  align-items: center;
}
.name-user{
  display: flex;
  flex-direction: column;
}
.name-user strong{
  color: #3d3d3d;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
.name-user span{
  color: #979797;
  font-size: 0.8rem;
}
.reviews{
  color: #f1ce02;
}
.box-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.client-comment p{
  font-size: 15px;
  color: #000000;
}
.testimonial-box:hover{
  transform: translateY(-10px);
  transition: all ease 0.3s;
}

@media(max-width:1060px){
  .testimonial-box{
      width:45%;
      padding: 10px;
  }
}
@media(max-width:790px){
  .testimonial-box{
      width:100%;
  }
  .testimonial-heading h1{
      font-size: 1.4rem;
  }
}
@media(max-width:340px){
  .box-top{
      flex-wrap: wrap;
      margin-bottom: 10px;
  }
  .reviews{
      margin-top: 10px;
  }
}
::selection{
  color: #ffffff;
  background-color: #252525;
}

/* all other  */
#certimageBack {
  /* background-image: url('./images/certficate1.jpg'); */
  text-align: center;
}

.dashboard {
  display: grid;
  grid-template-columns: 20% 80%;
}

#leftMenu {
  background-color: #e1e9f0;
  color: green;
  text-align: center;
}

rightContent {
  display: flex;
  margin-bottom: 50px;
}


#blog-thumb {
  border: 1px solid #f0f0f0;
  position: absolute;
  padding: 50px;
  transition: all 1000ms linear;
}



blog-thumb:hover {

  background-size: cover;
  background-position: center center;
  color: #ffffff;
}




body {
  /* background: #1c1c1c; */
  /* background: #385E72; */
  background: #f3eded;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  
  padding-top: 20px;
  overflow-x: hidden;
}


/*---------------------------------------
  Typorgraphy              
-----------------------------------------*/

h1,h2,h3,h4,h5,h6,
.navbar-default, .btn {
font-family: 'Unica One', cursive;
text-transform: lowercase;
font-weight: 400;
}

.error{
color: red;
}

.courseImg {
  width: 100px;
  height: 50px;
}
h1,h2,h3,h4,h5,h6 {
font-weight: 400;
letter-spacing: 1px;
}

h1 {
  color: #1f1e1e;
  font-size: 52px;
  letter-spacing: 2px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

h2 {
color: #1f1e1e;
font-size: 32px;
}

h3 {
color: #4393b3;
font-size: 23px;
line-height: 32px;
padding-bottom: 4px;
}

h4 {
font-weight: bold;
}

p {
  color: #1f1e1e;
/* font-size:medium; */
  font-weight: 400px;
  line-height: 30px;
}

hr {
border-bottom-color: #1f1e1e;
width: 100px;
}

.section-btn {
background-color: #000;
border: 2px solid transparent;
border-radius: 100px;
color: #ffffff;
font-size: 18px;
font-weight: bold;
letter-spacing: 1px;
padding: 14px 36px;
margin-top: 26px;
transition: all 0.4s ease-in-out;
}

.section-btn:hover {
background: transparent;
border-top-color: #ffffff;
border-right-color: #222;
border-bottom-color: #ffffff;
border-left-color: #222;
color: #ffffff;
}


/*---------------------------------------
  General               
-----------------------------------------*/

html{
-webkit-font-smoothing: antialiased;
}

a {
color: #12a6bd;
-webkit-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
text-decoration: none !important;
font-size: larger;


}
a:hover, a:active, a:focus {
color: rgb(17, 98, 219);
outline: none;
font-size: xx-large;
}



* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

*:before,
*:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

::-webkit-scrollbar{
width: 8px;
height: 8px;
}

::-webkit-scrollbar-thumb {
cursor: pointer;
background: #ffffff;
}

.section-title {
position: relative;
padding-bottom: 62px;
text-align: center;
}

body,
#skills,
footer,section{
padding-top: 10px;

}

#divider,
#pricing {
text-align: center;
}

.row{
  margin-right: -15px;
    margin-left: -15px;
    padding-top: 70px;
    padding-bottom: 20px;
}
/*---------------------------------------
  Navigation section              
-----------------------------------------*/

.navbar-default {
  background: #ffffff;
  border: none;
  box-shadow: none;
  margin: 0 !important;
}

.navbar-default .navbar-brand {
color: #1dc9e3;
font-size: 26px;
font-weight: bold;
text-transform: uppercase;
letter-spacing: 2px;
line-height: 50px;
margin: 0;
}

.navbar-default .navbar-brand span {
color: #1dc9e3;
}

.navbar-default .navbar-nav li a {
  color: #1f1e1e;
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  padding-right: 20px;
  padding-left: 20px;
}

.navbar-default .navbar-nav > li a:hover {
  color: #1dc9e3;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #1f1e1e;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #1dc9e3;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
   border: none;
   padding-top: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
background-color: transparent;
}



/*---------------------------------------
 Divider section              
-----------------------------------------*/

#divider {
background-color: #1dc9e3;
}

#divider p {
color: #1f1e1e;
font-size: 26px;
line-height: 42px;
}



/*---------------------------------------
 skills section         
-----------------------------------------*/

#skills {
background: #ffffff;
text-align: center;
}

#skills .pricing-plan {
background-color: #d4edf8;;
border-radius: 2px;
margin-bottom: 32px;
padding: 10px;
}

#skills .pricing-plan .pricing-month {
padding: 10px 10px 10px 10px;
}

#skills .pricing-plan .pricing-month h2 {
font-size: 44px;
color: #1dc9e3;
}

#skills .pricing-plan .section-btn {
background: #1dc9e3;
position: relative;
top: 20px;
}

#skills .pricing-plan .section-btn:hover {
background-color: #1dc9e3;
color: #1f1e1e;
}





/*---------------------------------------
 Footer section              
-----------------------------------------*/

footer {
padding-top: 30px;
padding-bottom: 20px;
}

footer span {
padding-right: 10px;
padding-left: 10px;
}

footer p {
padding-top: 16px;
}



/*---------------------------------------
 Modal Contact           
-----------------------------------------*/

.modal-dialog .modal-content {
background-color: #535bd4;
border: none;
border-radius: 2px;
text-align: center;
padding: 100px 50px 80px 50px;
position: relative;
overflow: hidden;
}

.btn:focus {
outline: none;
}

.modal-header {
border-bottom: 0px;
}

.modal-dialog .close {
color: #ffffff;
font-size: 45px;
font-weight: 300;
text-shadow: none;
opacity: 1;
position: absolute;
top: 40px;
right: 40px;
border-radius: 100px;
width: 30px;
height: 30px;
line-height: 30px;
text-align: center;
}

.modal-dialog .close:focus {
outline: none;
}

.modal-dialog .modal-title {
color: #ffffff;
}

.modal-dialog form {
padding: 20px;
}

.modal-dialog form input {
height: 50px;
}

.modal-dialog .form-control {
background: transparent;
border: 1px solid #f0f0f0;
border-radius: 0px;
box-shadow: none;
color: #ffffff;
font-size: 20px;
margin-bottom: 20px;
transition: all 0.4s ease-in-out;
color: black;
}

.modal-dialog .form-control:focus {
border-top-color: transparent;
border-right-color: transparent;
border-left-color: transparent;
border-bottom-color: #ffffff;
}

.modal-dialog form input[type="submit"] {
background: #1dc9e3;
border: 3px solid transparent;
border-radius: 100px;
font-weight: 400;
letter-spacing: 1px;
color: #ffffff;
text-transform: uppercase;
margin-top: 30px;
}

.modal-dialog form input[type="submit"]:hover {
background: transparent;
border-color: #1dc9e3;
color: #ffffff;
}

.modal-dialog .form-control::-moz-placeholder {
color: #888484;
/* opacity: 1; */
}
.modal-dialog .form-control:-ms-input-placeholder {
color: #575353;
}
.modal-dialog .form-control::-webkit-input-placeholder {
color: #464141;
}

.modal.fade .modal-dialog{
-webkit-perspective: 1300px;
   -moz-perspective: 1300px;
        perspective: 1300px;
}

.modal.fade .modal-content{
-webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
-webkit-transform: translateZ(-3000px) rotateY(90deg);
   -moz-transform: translateZ(-3000px) rotateY(90deg);
    -ms-transform: translateZ(-3000px) rotateY(90deg);
        transform: translateZ(-3000px) rotateY(90deg);
opacity: 0;
}

.modal.fade.in .modal-content{
  -webkit-animation: slit .7s forwards ease-out;
  -moz-animation: slit .7s forwards ease-out;
  animation: slit .7s forwards ease-out;
}

@-webkit-keyframes slit {
50% { -webkit-transform: translateZ(-250px) rotateY(60deg); opacity: .5; -webkit-animation-timing-function: ease-out;}
100% { -webkit-transform: translateZ(0) rotateY(0deg); opacity: 1; }
}

@-moz-keyframes slit {
50% { -moz-transform: translateZ(-250px) rotateY(60deg); opacity: .5; -moz-animation-timing-function: ease-out;}
100% { -moz-transform: translateZ(0) rotateY(0deg); opacity: 1; }
}

@keyframes slit {
50% { transform: translateZ(-250px) rotateY(60deg); opacity: 1; animation-timing-function: ease-in;}
100% { transform: translateZ(0) rotateY(0deg); opacity: 1; }
}


/*---------------------------------------
 Social icon             
-----------------------------------------*/

.social-icon {
  position: relative;
  padding: 0;
  margin: 0;
  text-align: center;
}

.social-icon li {
  display: inline-block;
  list-style: none;
}

.social-icon li a {
  color: #666;
  border-radius: 100px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: 0px;
  margin: 10px 4px 0px 4px;
}

.social-icon li a:hover {
  background: #1dc9e3;
  color: #ffffff;
  top: 5px;
  padding: 10px;
}


/*---------------------------------------
 Back top         
-----------------------------------------*/

.go-top {
background-color: #ffffff;
box-shadow: 1px 1.732px 12px 0px rgba( 0, 0, 0, .14 ), 1px 1.732px 3px 0px rgba( 0, 0, 0, .12 );
border-radius: 100px;
transition : all 1s ease;
bottom: 2em;
right: 2em;
color: #333;
font-size: 22px;
display: none;
position: fixed;
text-decoration: none;
width: 35px;
height: 35px;
line-height: 30px;
text-align: center;
}

.go-top:hover {
  background: #535bd4;
  color: #ffffff;
}


/*---------------------------------------
 Mobile Responsive         
-----------------------------------------*/
@media (max-width: 1200px) {
.container {
width: 100%;
}
}

@media (max-width: 980px) {

h1 {
  font-size: 38px;
}

.section-btn {
  padding: 10px 34px 12px;
}

#home, #home .overlay {
  height: 60vh;
}

#home .home-thumb {
  padding-top: 0px;
}

#about {
  text-align: center;
}

#about .about-thumb {
  margin-top: 62px;
}

}

@media (max-width: 768px) {

h1 {
  font-size: 28px;
}

.section-title {
  padding-bottom: 32px;
}

#container {
  padding-top: 60px;
  padding-bottom: 60px;
}

}

@media (max-width: 767px) {

 body {
  padding-top: 0px;
  text-align: center;
}

.navbar-default {
  text-align: center;
  padding-top: 0px;
}

.navbar-default .navbar-brand {
  line-height: 20px;
}

.navbar-default .navbar-nav li a {
  line-height: 25px;
}

#home, #home .overlay {
  height: 100vh;
}

#home img {
  position: relative;
  display: inline-block;
}

#home .home-thumb {
  padding-top: 32px;
  padding-left: 0px;
}

#pricing .pricing-plan {
  margin-bottom: 62px;
}

}

@media (max-width: 650px) {

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

}

/*  -----------------------------------theme ----------------------------------- */

.owl-theme .owl-controls{
margin-top: 10px;
text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
color: #FFF;
display: inline-block;
zoom: 1;
*display: inline;/*IE7 life-saver */
margin: 5px;
padding: 3px 10px;
font-size: 12px;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
border: 2px solid #999;
filter: Alpha(Opacity=50);/*IE7 fix*/
opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
filter: Alpha(Opacity=100);/*IE7 fix*/
opacity: 1;
text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
display: inline-block;
zoom: 1;
*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
display: block;
width: 12px;
height: 12px;
margin: 5px 7px;
filter: Alpha(Opacity=50);/*IE7 fix*/
opacity: 0.5;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
border: 2px solid #999;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
filter: Alpha(Opacity=100);/*IE7 fix*/
opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
height: auto;
width: auto;
color: #FFF;
padding: 2px 10px;
font-size: 12px;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
}



/* 
* 	Core Owl Carousel CSS File
*	v1.3.3
*/

/* clearfix */
.owl-carousel .owl-wrapper:after {
content: ".";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
}
/* display none until init */
.owl-carousel{
display: none;
position: relative;
width: 100%;

}
.owl-carousel .owl-wrapper{
display: none;
position: relative;

}
.owl-carousel .owl-wrapper-outer{
overflow: hidden;
position: relative;
width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
-webkit-transition: height 500ms ease-in-out;
-moz-transition: height 500ms ease-in-out;
-ms-transition: height 500ms ease-in-out;
-o-transition: height 500ms ease-in-out;
transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item{
float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
cursor: pointer;
}
.owl-controls {
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}



